Repository Eagle-0/Syndicate-Station, pull requests merged in 2024-08, with the labels that each got.

#11 Surgery situation is crazy
  Content.Server/Palmtree/CookieClicker/Components/CookieClickerComponent.cs
  Content.Server/Palmtree/CookieClicker/Components/IncrementorComponent.cs
  Content.Server/Palmtree/CookieClicker/CookieClickerSystem.cs
  Content.Server/Palmtree/Surgery/Components/MindExchangerComponent.cs
  Content.Server/Palmtree/Surgery/Components/TendWoundComponent.cs
  Content.Server/Palmtree/Surgery/Components/ValidPatientComponent.cs
  Content.Server/Palmtree/Surgery/Components/ValidSurgeryToolComponent.cs
  Content.Server/Palmtree/Surgery/SurgerySystem.cs
  Content.Shared/Palmtree/Surgery/SharedSurgery.cs
  Resources/Audio/Palmtree/Items/Medical/cautery1.ogg
  Resources/Audio/Palmtree/Items/Medical/cautery2.ogg
  Resources/Audio/Palmtree/Items/Medical/hemostat1.ogg
  Resources/Audio/Palmtree/Items/Medical/organ1.ogg
  Resources/Audio/Palmtree/Items/Medical/organ2.ogg
  Resources/Audio/Palmtree/Items/Medical/retractor1.ogg
  Resources/Audio/Palmtree/Items/Medical/retractor2.ogg
  Resources/Audio/Palmtree/Items/Medical/saw.ogg
  Resources/Audio/Palmtree/Items/Medical/scalpel1.ogg
  Resources/Audio/Palmtree/Items/Medical/scalpel2.ogg
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Palmtree/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Textures/Palmtree/Objects/Specific/Medical/surgery.rsi/antirot.png
  Resources/Textures/Palmtree/Objects/Specific/Medical/surgery.rsi/bloodfilter.png
  Resources/Textures/Palmtree/Objects/Specific/Medical/surgery.rsi/meta.json
Labels: Changes: C#, Changes: Sprite, Changes: YML, Changes: Audio

#12 Surgery situation got even worse
  Content.Server/Palmtree/CookieClicker/Components/CookieClickerComponent.cs
  Content.Server/Palmtree/CookieClicker/Components/IncrementorComponent.cs
  Content.Server/Palmtree/CookieClicker/CookieClickerSystem.cs
  Content.Server/Palmtree/Surgery/Components/ValidPatientComponent.cs
  Content.Server/Palmtree/Surgery/Components/ValidSurgeryToolComponent.cs
  Content.Server/Palmtree/Surgery/SurgerySystem.cs
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Palmtree/Entities/Objects/Specific/Medical/surgery.yml
Labels: Changes: C#, Changes: YML

#13 Grabintent
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/_White/Standing/LayingDownSystem.cs
  Content.Server/Alert/Click/StopPulling.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Server/Standing/LayingDownComponent.cs
  Content.Server/Standing/LayingDownSystem.cs
  Content.Server/Traits/Assorted/LayingDownModifierSystem.cs
  Content.Shared/Administration/AdminFrozenSystem.cs
  Content.Shared/Construction/EntitySystems/AnchorableSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
  Content.Shared/Hands/HandEvents.cs
  Content.Shared/Inventory/VirtualItem/SharedVirtualItemSystem.cs
  Content.Shared/Movement/Pulling/Components/PullableComponent.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Security/Systems/DeployableBarrierSystem.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Teleportation/Systems/SharedPortalSystem.cs
  Content.Shared/_White/CVars.cs
  Content.Shared/_White/Grab/GrabThrownComponent.cs
  Content.Shared/_White/Grab/GrabThrownSystem.cs
  Content.Shared/_White/Standing/LayingDownComponent.cs
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/_white/escape-menu/options-menu.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Textures/Interface/Alerts/pull.rsi/grab-choke.png
  Resources/Textures/Interface/Alerts/pull.rsi/grab-hard.png
  Resources/Textures/Interface/Alerts/pull.rsi/grab-soft.png
  Resources/Textures/Interface/Alerts/pull.rsi/grabbed-choke.png
  Resources/Textures/Interface/Alerts/pull.rsi/grabbed-hard.png
  Resources/Textures/Interface/Alerts/pull.rsi/grabbed-soft.png
  Resources/Textures/Interface/Alerts/pull.rsi/meta.json
  Resources/Textures/Interface/Alerts/pull.rsi/pulled.png
  Resources/Textures/Interface/Alerts/pull.rsi/pulling.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: UI, Changes: YML

#14 Added CQC
  Content.Server/MartialArts/CanPerformComboSystem.cs
  Content.Shared/MartialArts/CQCComponents.cs
  Content.Shared/MartialArts/CanPerformCombo.cs
  Content.Shared/MartialArts/Events/CQCEvents.cs
  Content.Shared/MartialArts/Events/ComboAttackPerformedEvent.cs
  Content.Shared/MartialArts/GrabStagesOverrideComponent.cs
  Content.Shared/MartialArts/GrantMartialArtKnowledgeComponent.cs
  Content.Shared/Movement/Pulling/Events/CheckGrabOverridesEvent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_White/Grab/GrabThrownSystem.cs
  Resources/Locale/en-US/martial-arts/cqc.ftl
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/MartialArts/combo.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Textures/Objects/Misc/cqc_manual.rsi/icon.png
  Resources/Textures/Objects/Misc/cqc_manual.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML
