Repository Eagle-0/Syndicate-Station, pull requests merged in 2024-09, with the labels that each got.

#15 Transplant surgery
  Content.Server/Palmtree/Surgery/Components/ValidSurgeryToolComponent.cs
  Content.Server/Palmtree/Surgery/SurgerySystem.cs
  Content.Shared/Atmos/Rotting/RottingComponent.cs
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Palmtree/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Palmtree/Entities/Objects/Specific/Medical/surgery.yml
Labels: Changes: C#, Changes: YML

#16 Surgery condition rework + guidebook entry
  Content.Server/Palmtree/Surgery/SurgerySystem.cs
  Resources/Prototypes/Guidebook/medical.yml
  Resources/ServerInfo/Palmtree/Medical/Surgery.xml
Labels: Changes: C#, Changes: Documentation, Changes: YML

#17 Medical biofabricator + surgery extras
  Content.Server/Palmtree/Surgery/SurgerySystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Palmtree/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Palmtree/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Palmtree/Recipes/Lathes/rehydrateable.yml
  Resources/ServerInfo/Palmtree/Medical/Surgery.xml
  Resources/Textures/Palmtree/Structures/Machines/limbgrower.rsi/limbgrower_fill.png
  Resources/Textures/Palmtree/Structures/Machines/limbgrower.rsi/limbgrower_idleoff.png
  Resources/Textures/Palmtree/Structures/Machines/limbgrower.rsi/limbgrower_idleon.png
  Resources/Textures/Palmtree/Structures/Machines/limbgrower.rsi/limbgrower_openpanel.png
  Resources/Textures/Palmtree/Structures/Machines/limbgrower.rsi/limbgrower_panelopen.png
  Resources/Textures/Palmtree/Structures/Machines/limbgrower.rsi/limbgrower_unfill.png
  Resources/Textures/Palmtree/Structures/Machines/limbgrower.rsi/meta.json
Labels: Changes: C#, Changes: Documentation, Changes: Sprite, Changes: YML

#18 Gas mask voice replacer, Jukebox additions
  Content.Shared/Speech/SpeechSoundsReplacerComponent.cs
  Content.Shared/Speech/SpeechSoundsReplacerSystem.cs
  Resources/Audio/Goobstation/Hailer/asshole.ogg
  Resources/Audio/Goobstation/Hailer/attributions.yml
  Resources/Audio/Goobstation/Hailer/bash.ogg
  Resources/Audio/Goobstation/Hailer/bobby.ogg
  Resources/Audio/Goobstation/Hailer/compliance.ogg
  Resources/Audio/Goobstation/Hailer/dontmove.ogg
  Resources/Audio/Goobstation/Hailer/dredd.ogg
  Resources/Audio/Goobstation/Hailer/floor.ogg
  Resources/Audio/Goobstation/Hailer/freeze.ogg
  Resources/Audio/Goobstation/Hailer/halt.ogg
  Resources/Audio/Goobstation/Hailer/imperial.ogg
  Resources/Audio/Goobstation/Hailer/justice.ogg
  Resources/Audio/Goobstation/Hailer/robocop.ogg
  Resources/Audio/Goobstation/Hailer/running.ogg
  Resources/Audio/Voice/Misc/radiosay.ogg
  Resources/Audio/Voice/Misc/radiowhat.ogg
  Resources/Audio/Voice/Misc/radioyell.ogg
  Resources/Locale/en-US/Goobstation/hailer/hails.ftl
  Resources/Prototypes/Catalog/Jukebox/Syndicate.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Voice/speech_sounds.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Audio
